@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "인증메일 안내";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    인증 메일이 전송되었습니다. 확인 바랍니다.
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
