@media screen and (max-width: 600px) {
    .main-box {
        padding: 100px 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 600px) {

    .main-box {
        padding: 100px 100px 0px 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
